span {
  border-radius: var(--mg-tag-radius, var(--radius-pill));
  display: inline-block;
  padding-block: var(--mg-tag-padding-block, var(--space-1));
  padding-inline: var(--mg-tag-padding-inline, var(--space-3));

  &.neutral {
    background: var(--mg-tag-background, var(--status-neutral-background));
    color: var(--mg-tag-color, var(--status-neutral-text));
  }

  &.success {
    background: var(--mg-tag-background, var(--status-success-background));
    color: var(--mg-tag-color, var(--status-success-text));
  }

  &.info {
    background: var(--mg-tag-background, var(--status-info-background));
    color: var(--mg-tag-color, var(--status-info-text));
  }
}
